language: python
branches:
  only:
  - master
  - "/^v\\d+\\.\\d+\\.\\d+$/"
matrix:
  include:
  - os: linux
    python: 3.5
  - os: linux
    python: 3.6
  - os: linux
    python: 3.7
  - os: linux
    python: 3.8
  - os: osx
    language: generic
    sudo: true
    before_cache:
    - brew cleanup
    cache:
      directories:
      - "$HOME/Library/Caches/Homebrew"
      - "/Users/travis/.pyenv/versions"
install: ".travis/install.sh"
script: ".travis/run.sh"
after_success:
- codecov
notifications:
  email: false
deploy:
  provider: pypi
  user: slarse
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = "linux"
  password:
    secure: k8+Jut/HZqZSp8gYN7DLHVjTy+et0+RYC8KL4D1SZPLG+mHjNjjW9bGj0Z7L3DYuJjauOIw9tKvDHrNXTgruSbT6nxu0SWr7K8uJi7247hSqzzOzfSFU+6L/Jub2YZK1O/hlv81KwkcXPT1oIKIUmLGdJ/dntzHfILKmkJP92hgm2285pUcnUEX++60pkuFeSwzEIK7AMOU0O81y+ZCnf8olzymxUYwjiRZPrGz2W0/oJJ/YCyxOlM4sqdukJwNLuDuufmlmyX4H0MsML6W5AQ9q+o+SV6Y3S+F2f5F1Bbe5F1Crf+3+SGHKrorTcXXpHn5Gr8CYtMjWJ9fXA08A2Jngzb1kw1dfssTU7dLolAZB5LKQeh7+h5sWbRDvJZ+8fr7iMrtg9IPiZoKBCtqmbXzbWSFYhtv5rvzdxzciB3cYZKEYvFoJeqJUkhErfh9dA0Ak8HOqLHc0Cx0k0WykvNEbg6aeQd4e3BsyrBnjEYfiP4neakKPFSzFXTqrXlUMIeky//Hnk7dJITqH57VB5yYeUazGgRfPrL43VogcnerQM0wwFWRuBaiyylY8cTJztwwg9iUCo+y66cFWWdJ9qVJV21FPsip7EV+gMAXJwXWM4530BRRp/JZ7qmjKXLme4rxl9stUGScFjnqEjgPmxHFAof+gp06tL++JwGOfQgg=
  distributions: sdist bdist_wheel
  repo: slarse/repobee-csvgrades
  skip_existing: true
